<h1><a href="/rooms" class="text-dark">Rooms</a></h1>

<%- include('partial/flash-messages', {messages: getMessages()}) %>
<div id="friend-recommend-room-message"></div>

<div class="row">
    <% if(typeof currentUser != 'undefined' && currentUser.isAdmin()) { %>
        <div class="col-md-4 col-lg-2">
            <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#createRoomModal">Create new room</button>
        </div>
        <%-include('partial/manage-room-modal')%>
        <script>
            function confirmDeletion(roomId) {
                $('#deleteRoomModal input#roomId').val(roomId);
                $('#deleteRoomModal').modal('show');
                return false;
            }
        </script>
    <% } %>
    <div class="col-md-8 col-lg-10 mt-3">
        <form action="/rooms/search" method="GET" class="form-inline">
            <div class="form-row">
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                        <div class="input-group-text">Find rooms:</div>
                        </div>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="inlineFormInputGroup" 
                            placeholder="Address" 
                            name="search" 
                            <% if(process.env.REFLECTED_XSS_FIXED) { %>
                                value="<%= typeof search === 'string' ? search : '' %>"
                            <% } else { %>
                                value=<%- typeof search === 'string' ? search : '' %>
                            <% } %>
                        />
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                        <div class="input-group-text">Price up to:</div>
                        </div>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="filter-price" 
                            placeholder="Max price" 
                            name="maxPrice" 
                            <% if(process.env.REFLECTED_XSS_FIXED) { %>
                                value="<%= typeof maxPrice === 'string' ? maxPrice : '' %>"
                            <% } else { %>
                                value=<%- typeof maxPrice === 'string' ? maxPrice : '' %>
                            <% } %>
                        />
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- User listing -->
<% if(rooms.length) {%>
    <table class="table">
        <thead>
            <tr>
                <th>Building</th>
                <th>Address</th>
                <th>Room number</th>
                <th>Status</th>
                <th>Price vnd/month</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% rooms.forEach((room) => {%>
                <tr id="<%=room.id%>" class="room-info">
                    <td class="align-middle"><%=room.building%></td>
                    <td class="align-middle"><%=room.address%></td>
                    <td class="room-number align-middle">
                        <% if(typeof currentUser != 'undefined' && currentUser.isAdmin()) { %>
                            <a class="btn">
                                <%=room.number%>
                                <% if(typeof room.reservation != 'undefined' && room.reservation.length) { %>
                                    <span class="badge badge-primary badge-pill ml-2">
                                        <%= room.reservation.length %>
                                    </span>
                                <% } %>
                            </a>
                        <% } else { %>
                            <%=room.number%>
                        <% } %>
                    </td>
                    <td class="align-middle">
                        <% if(room.occupant) { %>
                            <% if(typeof currentUser != 'undefined' && room.occupant === currentUser.id) { %>
                                <span class="badge badge-success">Your room!</span>
                            <% } else { %>
                                <span class="badge badge-danger">Occupied</span>
                            <% } %>
                        <% } else { %>
                            <span class="badge badge-primary">Available</span>
                        <% } %>
                    </td>
                    <td class="align-middle"><%=room.price%></td>
                    <td class="align-middle">
                        <% if(typeof currentUser != 'undefined' && currentUser.isAdmin()) { %>
                            <a href="/rooms/<%=room.id%>">View</a> |
                            <a href="#" onclick="confirmDeletion('<%=room.id%>')">Delete</a>
                        <% } else if(!room.occupant) { %>
                            <% if(typeof currentUser != 'undefined') { %>
                                <% if(typeof currentUser.reserving != 'undefined' && currentUser.reserving === room.id) { %>
                                    <a href="#" class="btn btn-outline-primary">Awaiting for confirmation</a>
                                <% } else if(!currentUser.reserving) { %>
                                    <button 
                                        class="btn btn-primary mt-1 mb-1" 
                                        onclick="reserveRoom('<%=room.id%>')"
                                    >Reserve now!</button>
                                    <button 
                                        class="btn btn-primary" 
                                        data-room="<%=room.number%>" 
                                        data-building="<%=room.building%>" 
                                        onclick="share(this.dataset)"
                                    >Share</button>
                                <% } %>
                            <% } else { %>
                                <button class="btn btn-primary mt-1 mb-1" data-toggle="modal" data-target="#loginModal">Login & Reserve!</button>
                                <button 
                                    class="btn btn-primary" 
                                    data-building="<%=room.building%>" 
                                    data-room="<%=room.number%>" 
                                    onclick="share(this.dataset)"
                                >Share</button>
                            <% } %>
                        <% } %>
                    </td>
                </tr>
            <%})%>
        </tbody>
    </table>
<% } else { %>
<hr/>
No room was found
<% } %>
<%- include('partial/login-modal') %>

<div class="modal" id="reserveModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Room reservation
            </div>
            <div class="modal-body">
                <div class="message"></div>
                <button class="btn btn-primary mt-3" data-dismiss="modal">
                    No problem, I'll wait.
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="shareModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>
                    Share with your friends
                </h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="share-room-number"/>
                <input type="hidden" id="share-room-building"/>
                <div class="form-group">
                    <label for="share-message">Your message:</label>
                    <input type="text" id="share-message" class="form-control" value="Please checkout this room and tell me what you think."/>
                </div>
                <hr/>
                <div class="form-group">
                    <label for="share-url">Share this link below to your friends so that they can check out the room too!</label>
                    <textarea type="text" id="share-url" class="form-control" rows=3></textarea>
                </div>
                <button class="btn btn-primary mt-3" data-dismiss="modal">
                    OK. I'll do it right now!
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    function reserveRoom(id) {
        $.ajax({
            url: '/rooms/reserve',
            method: 'POST',
            data: {id:id},
            success: function(res) {
                console.log(res);
                $('#reserveModal .message')
                    .text('Thank you for your interest. Room reservation needs to be confirmed by our staff. We will contact you soon.');
                $('#reserveModal').modal('show').on('hidden.bs.modal', function() { location.reload() });
            },
            error: function(res) {
                console.log(res);
                $('#reserveModal .message')
                    .text('Something was wrong. Please try again.');
                $('#reserveModal').modal('show');
            }
        })
    }
    function share(dataset) {
        var message = $('#share-message').val();
        $('#share-room-number').val(dataset.room);
        $('#share-room-building').val(dataset.building);
        $('#shareModal #share-url').val(location.host + location.pathname + `#${dataset.room}&${dataset.building}&${message}`);
        $('#shareModal').modal('show');
        $('#shareModal #share-url').focus(function(){$(this).select()});
    };
    $(document).ready(function() {
        <% if(process.env.DOM_BASED_XSS_FIXED) {%>
            <% console.log('SHOULD FIX DOM_BASED_XSS') %>
            if(this.location.hash) {
                roomData = decodeURI(this.location.hash).substring(1).split('&');
                roomData = roomData.map(function(item) {
                    return item
                        .replace(/&/g, "&amp;")
                        .replace(/</g, "&lt;")
                        .replace(/>/g, "&gt;")
                        .replace(/"/g, "&quot;")
                        .replace(/'/g, "&#039;");
                });
                $('#friend-recommend-room-message')
                .html('<div class="alert alert-primary" role="alert">Your friend recommends you to check out room <b>' + roomData[0] + '</b> at the <b>' + roomData[1] + '</b> building!<br/>Message: <b>' + roomData[2] + '</b></div>');
            }
        <% } else {%>
            if(this.location.hash) {
                roomData = decodeURI(this.location.hash).substring(1).split('&');
                $('#friend-recommend-room-message')
                .html('<div class="alert alert-primary" role="alert">Your friend recommends you to check out room <b>' + roomData[0] + '</b> at the <b>' + roomData[1] + '</b> building!<br/>Message: <b>' + roomData[2] + '</b></div>');
            }
        <% } %>

        $('input#share-message').on('keyup', function() {
            $('#share-url').val(location.href + `#${$('#share-room-number').val()}&${$('#share-room-building').val()}&${$('#share-message').val()}`)
        })
    });
</script>